<!DOCTYPE html>
<html lang="es">

<head>
    <title>Especimenes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ../Partials/icono.html%>
    <% include ../Partials/style.html%>
</head>

<body themebg-pattern="pattern4">
    <div id="pcoded" class="pcoded iscollapsed" nav-type="st6" theme-layout="vertical" vertical-placement="left"
        vertical-layout="wide" pcoded-device-type="desktop" vertical-nav-type="expanded" vertical-effect="shrink"
        vnavigation-view="view1" fream-type="theme1" sidebar-img="false" sidebar-img-type="img1" layout-type="light">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <% include ../Partials/navbar.html%>
            <% include ../Partials/slider.html%>
            <div class="pcoded-main-container" style="margin-top: 56px;">
                <div class="pcoded-wrapper">

                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">

                                    <div class="page-body">
                                        <div class="row">
                                            <% Lista_Animales.forEach(element => { %>
                                                <div class="col-sm-4">
                                                    <!-- Basic usage card start -->
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h3><%= element.Nombre_Animal %></h3>
                                                            <h5><%= element.N_Cientifico %></h5>
                                                        </div>
                                                        <div class="card-block">
                                                            <div class="panel panel-flat">
                                                                <div class="panel-body">
                                                                    <div class="image-cropper-container" align="center"><img
                                                                            src="<%= element.Foto_Animal%>"
                                                                            class="crop-basic img-fluid"
                                                                            width="200px"></div>
                                                                    <br>
                                                                    <a class="btn btn-primary" href="/modelo3d/animal/<%= element.Id_Animal%>"
                                                                        role="button">Ver Animal</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Basic usage card end -->
                                                </div>                                                
                                            <%});%>                                            
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <% include ../Partials/js.html%>
</body>

</html>