<!DOCTYPE html>
<html lang="es">

<head>
    <title>Master Code | Registro</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <% include ./Partials/icono.html%>

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
        id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>

<body>

    <div class="span3 well align-items-center justify-content-center text-center">
        <legend>Usuario</legend>
        <form accept-charset="UTF-8" action="/add" method="post">
            <input class="span3" name="Usuario" placeholder="Nombre" type="text">
            <input class="span3" name="Password" placeholder="contraseña" type="password">
            <button class="btn btn-warning" type="submit">Crear</button>
        </form>
    </div>

</body> 

</html>