<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% include ./Partials/style.html%>
</head>

<body themebg-pattern="pattern4">
    <div id="pcoded" class="pcoded iscollapsed" nav-type="st6" theme-layout="vertical" vertical-placement="left"
        vertical-layout="wide" pcoded-device-type="desktop" vertical-nav-type="expanded" vertical-effect="shrink"
        vnavigation-view="view1" fream-type="theme1" sidebar-img="false" sidebar-img-type="img1" layout-type="light">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <% include ./Partials/navbar.html%>
            <% include ./Partials/slider.html%>
            <div class="pcoded-main-container" style="margin-top: 56px;">
                <div class="pcoded-wrapper">
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">

                                    <div class="page-body">

                                        <div class="card">
                                            <div class="card-block">
                                                <div id="Repetidor">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label>Nombre de la entidad</label>
                                                            <input type="text" id="" style="border-radius:4px;" name=""
                                                                class="form-control">
                                                        </div>

                                                        <div class="col-md-6">
                                                            <label>Tipo de Entidad</label>
                                                            <select class="form-control" name="">
                                                                <option value="">Seleccione</option>
                                                                <option value="COLEGIO">COLEGIO</option>
                                                                <option value="EMPRESA PRIVADA">EMPRESA PRIVADA</option>
                                                                <option value="EMPRESA PUBLICA">EMPRESA PUBLICA</option>
                                                                <option value="UNIVERSIDAD">UNIVERSIDAD</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label>Nit</label>
                                                            <input type="text" id="" style="border-radius:4px;" name=""
                                                                class="form-control">
                                                        </div>

                                                        <div class="col-md-6">
                                                            <label>Teléfono</label>
                                                            <input type="text" id="" style="border-radius:4px;" name=""
                                                                class="form-control">
                                                        </div>

                                                        <div class="col-md-6">
                                                            <label>Dirección</label>
                                                            <input type="text" id="" style="border-radius:4px;" name=""
                                                                class="form-control">
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label>correo electrónico</label>
                                                            <input type="text" id="" style="border-radius:4px;" name=""
                                                                class="form-control">
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label>Tiempo de servicio</label>
                                                            <select class="form-control" name="">
                                                                <option value="">Seleccione</option>
                                                                <option value="1">1 Mes</option>
                                                                <option value="6">6 Meses</option>
                                                                <option value="12">12 Meses</option>
                                                            </select>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <label>Numero de usuario</label>
                                                            <input type="text" id="" style="border-radius:4px;" name=""
                                                                class="form-control">
                                                        </div>

                                                        <div class="col-md-6">
                                                            <label>Nombre del Encargado</label>
                                                            <input type="text" id="" style="border-radius:4px;" name=""
                                                                class="form-control">
                                                        </div>

                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-md-1">
                                                        <a id="Agregar" style="margin-top: 20px"
                                                            class="btn btn-primary">Registrar</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <% include ./Partials/js.html%>
                <!--Forms - Wizard js-->
                <script src="..\files\bower_components\jquery.cookie\js\jquery.cookie.js"></script>
                <script src="..\files\bower_components\jquery.steps\js\jquery.steps.js"></script>
                <script src="..\files\bower_components\jquery-validation\js\jquery.validate.js"></script>
                <!-- Custom js -->
                <script src="..\files\assets\pages\forms-wizard-validation\form-wizard.js"></script>
                <script src="..\files\assets\js\pcoded.min.js"></script>
                <script src="..\files\assets\js\vartical-layout.min.js"></script>
                <script src="..\files\assets\js\jquery.mCustomScrollbar.concat.min.js"></script>
                <script type="text/javascript" src="..\files\assets\js\script.js"></script>
                <!-- dfdsfsdfsdfsdfsdf -->

                <!-- Editable-table js -->
                <script type="text/javascript" src="..\files\assets\pages\edit-table\jquery.tabledit.js"></script>
                <script type="text/javascript" src="..\files\assets\pages\edit-table\editable.js"></script>

                <script>

                </script>
            </div>
</body>

</html>