<!DOCTYPE html>
<html lang="es">

<head>
    <title>Especimenes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <% include ./partials/style.html%>
</head>

<body themebg-pattern="pattern4">
    <div id="pcoded" class="pcoded iscollapsed" nav-type="st6" theme-layout="vertical" vertical-placement="left" vertical-layout="wide" pcoded-device-type="desktop" vertical-nav-type="expanded" vertical-effect="shrink" vnavigation-view="view1" fream-type="theme1"
        sidebar-img="false" sidebar-img-type="img1" layout-type="light">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <% include ./partials/navbar.html%>
                <% include ./partials/slider.html%>
                    <div class="pcoded-main-container" style="margin-top: 56px;">
                        <div class="pcoded-wrapper">

                            <div class="pcoded-content">
                                <div class="pcoded-inner-content">
                                    <div class="main-body">
                                        <div class="page-wrapper">

                                            <div class="page-body">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <!-- Basic usage card start -->
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <h5>Primate</h5>
                                                            </div>
                                                            <div class="card-block">
                                                                <div class="panel panel-flat">
                                                                    <div class="panel-body">
                                                                        <div class="image-cropper-container"><img src="..\files\assets\images\modal\simio.png" alt="" class="crop-basic img-fluid"></div>
                                                                        <br>
                                                                        <a class="btn btn-primary" href="/Caracteristica" role="button">Ver mas</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Basic usage card end -->
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <h5>Porcino</h5>

                                                            </div>
                                                            <div class="card-block">
                                                                <div class="panel panel-flat">
                                                                    <div class="panel-body">
                                                                        <div class="image-cropper-container"><img src="..\files\assets\images\modal\porcino.jpg" alt="" class="crop-modal img-fluid"></div>
                                                                        <br>
                                                                        <a class="btn btn-primary" href="#" role="button">Ver mas</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <h5>Simio</h5>

                                                            </div>
                                                            <div class="card-block">
                                                                <div class="panel panel-flat">
                                                                    <div class="panel-body">
                                                                        <div class="image-cropper-container"><img src="..\files\assets\images\modal\simio.jpg" alt="" class="crop-modal img-fluid"></div>
                                                                        <br>
                                                                        <a class="btn btn-primary" href="#" role="button">Ver mas</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <!-- Basic usage card start -->
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <h5>Felino</h5>
                                                            </div>
                                                            <div class="card-block">
                                                                <div class="panel panel-flat">
                                                                    <div class="panel-body">
                                                                        <div class="image-cropper-container"><img src="..\files\assets\images\modal\felino.jpg" alt="" class="crop-basic img-fluid"></div>
                                                                        <br>
                                                                        <a class="btn btn-primary" href="#" role="button">Ver mas</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Basic usage card end -->
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <h5>Ave</h5>

                                                            </div>
                                                            <div class="card-block">
                                                                <div class="panel panel-flat">
                                                                    <div class="panel-body">
                                                                        <div class="image-cropper-container"><img src="..\files\assets\images\modal\ave.jpg" alt="" class="crop-modal img-fluid"></div>
                                                                        <br>
                                                                        <a class="btn btn-primary" href="#" role="button">Ver mas</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <h5>Bovino</h5>

                                                            </div>
                                                            <div class="card-block">
                                                                <div class="panel panel-flat">
                                                                    <div class="panel-body">
                                                                        <div class="image-cropper-container"><img src="..\files\assets\images\modal\bovino.jpg" alt="" class="crop-modal img-fluid"></div>
                                                                        <br>
                                                                        <a class="btn btn-primary" href="#" role="button">Ver mas</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
        </div>
    </div>
    <% include ./partials/js.html%>
</body>

</html>