<!doctype html>
<html lang="es">

<head>
    <title>Osteo 3D</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Muli:400,700" rel="stylesheet">

    <link rel="stylesheet" href="../files/bower_components/inicio/fonts/icomoon/style.css">
    <link rel="stylesheet" href="../files/bower_components/inicio/css/bootstrap.min.css">    
    <link rel="stylesheet" href="../files/bower_components/inicio/css/jquery.fancybox.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="../files/bower_components/inicio/css/style.css">

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


    <div class="site-wrap" id="home-section">

        <header class="card-navbar card-navbar-target" style="background: rgb(58, 66, 63)" role="banner">
            <div class="container">
                <div class="row align-items-center position-relative">
                    <div class="col-9 ">
                        <div class="site-logo">
                            <h1 style="color: white">OSTEO 3D</h1>
                        </div>
                    </div>
                    <div class="float-right">
                        <div class="site-logo">
                            <a type="button" href="/login" class="btn btn-primary btn-outline-white py-2 px-6">Iniciar
                                sesión</a>
                        </div>
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="float-right">
                        <div class="site-logo">
                            <a type="button" href="/registro"
                                class="btn btn-primary btn-outline-white py-2 px-6">Registrar</a>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                </div>
            </div>

        </header>

        <div class="site-section">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h2 class="heading-29190" style="text-align:center ">Software Educativo de Osteologia</h2>
                    <a href="https://www.youtube.com/watch?v=Qr4XazpMCEg" data-fancybox class="btn-video_38929">
                        <span><span class="icon-play"></span></span>
                        <img src="../files/bower_components/inicio/images/gato.jpg" alt="Image" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
        <footer class="card-footer" style="text-align:center; background-color: rgb(58, 66, 63)">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <br>
                        <br>
                        <img src="../files/bower_components/inicio/images/Logo3.png" alt="Image" class="img-fluid">
                    </div>
                    <div class="col-lg-5">
                        <h2 class="footer-heading mb-3" style="color: blanchedalmond">Master Code</h2>
                        <p style="color: blanchedalmond">Master Code SAS ofrece servicios a la comunidad, con la
                            finalidad de facilitar, optimizar y ahorrar tiempo en actividades y procesos cotidianos.
                        </p>
                    </div>
                    <div class="col-lg-4 ml-auto">
                        <div class="row">
                            <div class="col-lg-6">
                                <h2 class="footer-heading mb-4" style="color: blanchedalmond">Contactos</h2>
                                <div class="social_29128 white mb-5">
                                    <a href="#"><span style="color: rgb(26, 24, 153)" class="icon-facebook"></span></a>
                                    <a href="#"><span style="color: rgb(150, 20, 117)"
                                            class="icon-instagram"></span></a>
                                    <a href="#"><span style="color: rgb(16, 111, 189)" class="icon-twitter"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border-top pt-2">
                        <p style="color: blanchedalmond">
                            Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script>. Todos Los Derechos Reservados por <a href="https://mastercode.com.co/ "
                                target="_blank " style="color: red">Master Code</a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <script src="../files/bower_components/inicio/js/jquery-3.3.1.min.js "></script>        
    <script src="../files/bower_components/inicio/js/jquery.fancybox.min.js "></script>

    <script src="../files/bower_components/inicio/js/main.js "></script>

</body>

</html>