<!DOCTYPE html>
<html lang="es">

<head>
    <title>OSTEO 3D</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="..\files\assets\icon\icofont\css\icofont.css">
    <% include ./Partials/style.html%>
</head>

<body themebg-pattern="pattern4">
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded iscollapsed" nav-type="st6" theme-layout="vertical" vertical-placement="left:" vertical-layout="wide" pcoded-device-type="desktop" vertical-nav-type="expanded" vertical-effect="shrink" vnavigation-view="view1" fream-type="theme1"
        sidebar-img="false" sidebar-img-type="img1" layout-type="light">
        <div class="pcoded-container navbar-wrapper">
            <% include ./Partials/navbar.html%>
                <% include ./Partials/slider.html%>
                    <div class="pcoded-main-container" style="margin-top: 56px;">
                        <div class="pcoded-wrapper">
                            <div class="pcoded-content">
                                <div class="pcoded-inner-content">
                                    <div class="main-body">
                                        <div class="page-wrapper">

                                            <div class="page-body">
                                                <div class="row">
                                                    <!-- task, page, download counter  start -->
                                                    <div class="col-xl-3 col-md-6">

                                                        <div class="card">
                                                            <div class="card-block text-center">
                                                                <i class="feather icon-book f-30 text-c-lite-green"></i>
                                                                <h4 class="m-t-20"> Grupo A</h4>
                                                                <p class="m-b-20">Anatomia</p>
                                                                <a class="btn btn-primary btn-sm btn-round" href="/Grupos" role="button">Ver</a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="col-xl-3 col-md-6">

                                                        <div class="card">
                                                            <div class="card-block text-center">
                                                                <i class="feather icon-book f-30 text-c-lite-green"></i>
                                                                <h4 class="m-t-20"> Grupo B</h4>
                                                                <p class="m-b-20">Anatomia</p>
                                                                <a class="btn btn-primary btn-sm btn-round" href="#" role="button">Ver</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-3 col-md-6">

                                                        <div class="card">
                                                            <div class="card-block text-center">
                                                                <i class="feather icon-book f-30 text-c-lite-green"></i>
                                                                <h4 class="m-t-20">Grupo C</h4>
                                                                <p class="m-b-20">Anatomia II</p>
                                                                <a class="btn btn-primary btn-sm btn-round" href="#" role="button">Ver</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                                <div class="row">
                                                    <!-- task, page, download counter  start -->
                                                    <div class=".col-md-6 . m-auto">
                                                        <button type="button" id="idRunTheCode" class="btn btn-primary waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="Agregar nuevo Grupo">
                                                             <i class="icofont icofont-ui-add"></i><span class="m-l-10">Agregar</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


        </div>

        <div class="modal fade" id="visualizar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static">
            <div class="modal-dialog primary" role="document">
                <div class="modal-content">
                    <form id="modal1" method="post" class="form-horizontal">
                        <div class="modal-header">
                            <h4 class="modal-title text-center">Crear Grupo</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                 aria-hidden="true">&times;</span></button>

                        </div>
                        <div class="modal-body">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Codigo</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Nombre</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Materia</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Cantidad</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="submit" id="actualizar" class="btn btn-canc-edit btn-primary" data-dismiss="modal">Guardar</button>
                                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>
    <% include ./Partials/js.html %>

        <script>
            $('#idRunTheCode').click(function() {
                $("#visualizar").modal('toggle');
            });
        </script>
</body>

</html>