<!DOCTYPE html>
<html lang="es">

<head>
    <title>OSTEO 3D | REGISTRO</title>

    <% include ./partials/icono.html%>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="#">
    <meta name="keywords"
        content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="#">

    <% include ./partials/style.html%>
</head>

<body class="fix-menu" onload="HabilitarCampos()">
    <section class="login-block">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <form class="md-float-material form-material">
                        <div class="text-center">
                            <img src="/login/STEO-3D.png" alt="logo.png">
                        </div>
                        <div class="auth-box card">
                            <div class="card-block">
                                <div class="row m-b-20">
                                    <div class="col-md-12">
                                        <h3 class="text-center">Registro de Usuario Nuevo</h3>
                                    </div>
                                </div>
                                <div class="row m-b-30">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Nombre Completo</label>
                                            <input type="text" name="NombreRegistro" id="NombreRegistro"
                                                class="form-control" valuer="">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Apellidos</label>
                                            <input type="text" name="ApellidoRegistro" id="ApellidoRegistro"
                                                class="form-control" style="text-transform:uppercase" valuer="">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Tipo Documento</label>
                                            <select class="form-control" id="TipoDocumento">
                                                <option>Seleccione una opción</option>
                                                <option value="1">Cedula de Ciudadania</option>
                                                <option value="2">Tarjeta de Identidad</option>
                                                <option value="3">Regsitro Civil</option>
                                                <option value="4">Otro Documento</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Numero Documento</label>
                                            <input type="number" name="NumeroDocumento" id="NumeroDocumento"
                                                class="form-control" valuer="" pattern="[0-9]*">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Correo Electronico</label>
                                            <input type="email" name="CorreoPerfil" id="CorreoPerfil"
                                                class="form-control" valuer="">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label> Teléfono </label>
                                            <input type="number" name="TelefonoPerfil" id="TelefonoPerfil"
                                                class="form-control" valuer="" pattern="[0-9]*">
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Contraseña</label>
                                            <input type="password" name="ContraseñaRegistro" id="ContraseñaRegistro"
                                                class="form-control" placeholder="Ej: 1a2b3c4d*"
                                                onkeyup="HabilitarCampos()">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Confirmar Contraseña</label>
                                            <input type="password" name="ConfirContraseñaRegistro"
                                                id="ConfirContraseñaRegistro" class="form-control"
                                                placeholder="Confirmar Contraseña" onkeyup="VerificarCampos()">
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-t-30">
                                    <div class=".col-md-12. m-auto">
                                        <button
                                            class="btn btn-primary btn-md text-center m-b-20"
                                            id="BtnEditarContraseña" name="BtnEditarContraseña" type="submit">
                                            Registrarse
                                        </button>
                                    </div>
                                </div>
                                <p class="f-w-600 text-center"><a href="/login">Volver al Inicio</a></p>                               
                            </div>
                        </div>
                </div>
            </div>

    </section>

    <% include ./partials/js.html%>

    <!-- Funcion para la contraseña -->
    <script>
        function HabilitarCampos() {
            document.getElementById("ConfirContraseñaRegistro").disabled = true;
            document.getElementById("BtnEditarContraseña").disabled = true;
            if ($('#ContraseñaRegistro').val().length > 0) {
                document.getElementById("ConfirContraseñaRegistro").disabled = false;
            } else {
                document.getElementById("ConfirContraseñaRegistro").disabled = true;
            }
        }

        function VerificarCampos() {
            document.getElementById("BtnEditarContraseña").disabled = true;
            if (document.getElementById("ContraseñaRegistro").value == document.getElementById("ConfirContraseñaRegistro").value) {
                document.getElementById("BtnEditarContraseña").disabled = false;
            } else {
                document.getElementById("BtnEditarContraseña").disabled = true;
            }
        }
    </script>
</body>

</html>