<!DOCTYPE html>
<html lang="es">

<head>
    <title>Error 404</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    

    <% include ../partials/icono.html%>

<% include ../partials/style.html%>

    <style>
        html {
            height: 100%;
            width: 100%;
        }

        body {
            background: #c6e8ec url('../img/404.png') no-repeat center center;
            background-size: 100% 100%;
        }
    </style>
</head>

<body>
</body>

</html>