<script type="text/javascript" src="/files/bower_components/jquery/js/jquery.min.js"></script>
<script type="text/javascript" src="/files/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/files/bower_components/popper.js/js/popper.min.js"></script>
<script type="text/javascript" src="/files/bower_components/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/files/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>

<script type="text/javascript" src="/files/bower_components/modernizr/js/modernizr.js"></script>
<script type="text/javascript" src="/files/bower_components/modernizr/js/css-scrollbars.js"></script>
<script type="text/javascript" src="/files/bower_components/i18next/js/i18next.min.js"></script>
<script type="text/javascript" src="/files/bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js"></script>
<script type="text/javascript"
    src="/files/bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js"></script>
<script type="text/javascript" src="/files/bower_components/jquery-i18next/js/jquery-i18next.min.js"></script>
<script type="text/javascript" src="/files/assets/js/common-pages.js"></script>


<script src="/files/bower_components/jquery.cookie/js/jquery.cookie.js"></script>
<script src="/files/bower_components/jquery.steps/js/jquery.steps.js"></script>
<script src="/files/bower_components/jquery-validation/js/jquery.validate.js"></script>

<script src="/files/assets/pages/forms-wizard-validation/form-wizard.js"></script>
<script src="/files/assets/js/pcoded.min.js"></script>
<script src="/files/assets/js/vartical-layout.min.js"></script>
<script src="/files/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="/files/assets/js/script.js"></script>

<script type="text/javascript" src="/files/assets/pages/edit-table/jquery.tabledit.js"></script>
<script type="text/javascript" src="/files/assets/pages/edit-table/editable.js"></script>

