<nav class="pcoded-navbar" navbar-theme="theme1" active-item-theme="theme1" sub-item-theme="theme2" active-item-style="style0" pcoded-navbar-position="fixed">
    <div class="" id="" style="height: calc(100% - 80px);">
        <div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical_horizontal mCSB_inside" style="max-height: none;" tabindex="0">
            <div id="mCSB_1_container_wrapper" class="mCSB_container_wrapper mCS_x_hidden mCS_no_scrollbar_x mCS_y_hidden mCS_no_scrollbar_y">
                <div id="mCSB_1_container" class="mCSB_container" style="position: relative; top: 0px; left: 0px; width: 100%;" dir="ltr">
                    <div class="pcoded-navigatio-lavel" menu-title-theme="theme5">Navegación</div>
                    <ul class="pcoded-item pcoded-left-item" item-border="true" item-border-style="none" subitem-border="true">
                        <li class="">
                            <a href="/">
                                <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                <span class="pcoded-mtext">Inicio</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="/cuestionario">
                                <span class="pcoded-micon"><i class="feather icon-edit"></i></span>
                                <span class="pcoded-mtext">Cuestionario</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="/Especies">
                                <span class="pcoded-micon"><i class="icon-aperture rotate-refresh"></i></span>
                                <span class="pcoded-mtext">Especies </span>
                            </a>
                        </li>
                        <li class="">
                            <a href="/Grupos">
                                <span class="pcoded-micon"><i class="feather icon-users"></i></span>
                                <span class="pcoded-mtext">Grupos</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="/preguntas">
                                <span class="pcoded-micon"><i class="feather icon-users"></i></span>
                                <span class="pcoded-mtext">Preguntas</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="/Caracteristica">
                                <span class="pcoded-micon"><i class="feather icon-activity"></i></span>
                                <span class="pcoded-mtext">Visualización</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>